---
apiVersion: v1
kind: Service
metadata:
  name: petclinic
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30080
  selector:
    app: petclinic

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
  labels:
    app: petclinic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
        - name: petclinic
          image: jeevan11/petclinic:latest   # Jenkins will replace using .j2 template
          
          ports:
            - name: http
              containerPort: 8080

          # --------------------------
          # MYSQL Database Connection
          # --------------------------
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://demo-db:3306/petclinic?useSSL=false&allowPublicKeyRetrieval=true

            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: demo-db
                  key: username

            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: demo-db
                  key: password

            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: update

          # --------------------------
          # Health Probes
          # --------------------------
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
